:root {
  --background: #D64045;
  --primary: #181D27;
  --secondary: #E9FFF9;
}
[data-theme='dark'] {
  --background: #181D27;
  --primary: #E9FFF9;
  --secondary: #D64045;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.pokeball {
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 50%;
  background: url('./Assets/pokeball.svg');
  box-shadow: 0px 0px 3px 0px #181D27 ;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.pokedex {
  color: var(--primary);
  width: 500px;
  height: 80vh;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background: #181D27;
  box-shadow: #181D27 0px 20px 30px -10px;
}

.header {
  position: relative;
  height: 20%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background: #181D27;
  color: var(--secondary);
  width: 100%;
}

.mode {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  font-size: 10rem;
}

h1 {
  font-size: 25rem;
}

.filters {
  display: flex;
  justify-content: space-evenly;
}

.filters input {
  all: unset;
  border-bottom: 1px solid var(--secondary);
  border-top: 1px solid var(--secondary);
  margin-right: 25px;
  text-align: center;
}

.filters input::placeholder {
  color: #D64045;
}

.pokemon-list {
 overflow-y: scroll;
 height: 70%;
 width: 100%;
 background: #E9FFF9;
}

.pokemon-list li {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  margin: 10px;
  border-radius: 25px;
}

.pokemon-list img {
  height: 100%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #181d27d7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  min-width: 300px;
  min-height: 200px;
  background-color: var(--secondary);
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  height: 30vh;
}

.modal-content h1 {
  font-variant: small-caps;
}

.pokemon-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: var(--primary);
}
.pokemon-list::-webkit-scrollbar {
  width: 6px;
  background-color: var(--primary);
}
.pokemon-list::-webkit-scrollbar-thumb {
  background-color: var(--background);
}

button {
  padding: 5px 25px;
  border-radius: 25px;
  background: var(--secondary);
  color: var(--primary);
}

button:hover {
  background: var(--background);
  color: var(--primary);
}

.modal-content button:hover {
  background: var(--primary);
  color: var(--secondary);
}

.footer {
  background: #181D27;
  width: 100%;
  height: 10%;
  border-radius: 0;
  padding: 15px;
  transition: all .3s;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes heartbeat {
  from {
            transform: scale(1);
            transform-origin: center center;
            animation-timing-function: ease-out;
  }
  10% {
            transform: scale(0.91);
            animation-timing-function: ease-in;
  }
  17% {
            transform: scale(0.98);
            animation-timing-function: ease-out;
  }
  33% {
            transform: scale(0.87);
            animation-timing-function: ease-in;
  }
  45% {
            transform: scale(1);
            animation-timing-function: ease-out;
  }
}
